/*variables globales*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat:wght@600&family=Poppins:wght@200;300;400;500&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat:wght@600&family=Poppins:wght@200;300;400;500&display=swap");
/*font-family: 'Cabin', sans-serif;*/
* {
  padding: 0px;
  margin: 0px; }

.header-flex {
  background-color: #464655;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 200vh;*/ }

.fondomenu div {
  background-color: #464655; }

.header-flex a {
  color: #B7B6C1;
  text-decoration: none; }

.img-logo {
  width: 150px;
  margin: 0px; }

.header-flex ul {
  display: flex;
  list-style: none;
  /*width: 100vw;*/ }

.header-flex li {
  margin: 1rem; }

@media (max-width: 768px) {
  .img-logo {
    width: 80px;
    margin: 0px; } }

/*CONTENIDO PRINCIPAL*/
main {
  background-color: #EDDFEF; }

.banner-hero {
  background-image: url("../recursos/img-hero.jpeg");
  height: 50vh;
  background-size: cover; }

.banner-hero h1 {
  text-align: center;
  color: #464655;
  position: relative;
  top: 81%; }

h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit; }

.nav-link {
  color: #ffffff; }

.nav-link.active {
  color: #B7B6C1;
  text-decoration: none; }

.navbar {
  --bs-navbar-padding-y: 0rem; }

/*Footer*/
.footer {
  background-color: #B7B6C1;
  text-align: center;
  padding: 1rem; }

.footer p {
  text-align: center; }

.footer a {
  color: black; }

@media (min-width: 768px) {
  .header-flex {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem; } }

.nosotros {
  text-align: center;
  padding-top: 3rem;
  height: 30vw; }

.nos-h1 {
  margin: 1rem; }

.producto {
  width: 50vw;
  text-align: center;
  margin: 2px;
  font-size: 15px;
  margin-top: 1rem; }

.producto img {
  width: 25vw;
  height: 20vw;
  border-radius: 1rem; }

/*GRILLA DE PRODUCTOS*/
.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  margin-top: 3rem; }

@media (max-width: 768px) {
  .producto img {
    width: 40vw;
    height: 40vw; } }

input:focus {
  background-color: #222; }
