/*Footer*/

.footer{
    background-color: $color-celeste1;
    text-align: center;
    padding: 1rem;
   
}

.footer p{
    text-align: center;
}

.footer a{
    color: black;
}

@media (min-width: 768px){

    .header-flex{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
}