.header-flex{
    background-color: $color-oscuro;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 200vh;*/
    }
    
    .fondomenu div{
        background-color: $color-oscuro;
    }
    
    .header-flex a{
        color: $color-celeste1;
        text-decoration: none;
    }
    
    .img-logo{
        width: 150px;
        margin: 0px;
    
    }
    
    .header-flex ul{
    
        display: flex;
        list-style: none;    
        /*width: 100vw;*/
    }
    
    .header-flex li{
        margin: 1rem;
    }