/*CONTENIDO PRINCIPAL*/

main{
    background-color:#e8e7ed;
}

.banner-hero{
    background-image: url('../recursos/img-hero.jpeg');
    height: 70vh;
    background-size: cover;
}

.banner-hero h1{
    text-align: center;
    color: #464655;
    position:relative;
    top: 81%;
}

.producto{
    width: 50vw;
    text-align: center;
    margin: 2px;
    font-size: 15px;
margin-top: 1rem;
}

.producto img{
    width: 40vw;

}

/*GRILLA DE PRODUCTOS*/

.productos-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
   margin-top: 3rem;


}