/*CONTENIDO PRINCIPAL*/

main{
    background-color: $color-clarito;
}

.banner-hero{
    background-image: url('../recursos/img-hero.jpeg');
    height: 50vh;
    background-size: cover;
}

.banner-hero h1{
    text-align: center;
    color: $color-oscuro;
    position:relative;
    top: 81%;
}

