/*CONTENIDO PRINCIPAL*/

main {
    background-color: $color-clarito;
}

.banner-hero {
    background-image: url('../recursos/img-hero.jpeg');
    height: 50vh;
    background-size: cover;
}

.banner-hero h1 {
    text-align: center;
    color: $color-oscuro;
    position: relative;
    top: 81%;
}

h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color:inherit;
}